<div class="grid dashboard">
    <div class="col-3 xl:col-4">
        <div class="card">
            <div>
                <h5>Analyze Image</h5>
            </div>
            <div class="mt-2 mb-2">
                <span>Drag and drop an image file to analyze the image content.</span>
            </div>
            <div>
                <p-fileUpload #fileuploaderAI uploadLabel="Analyze" name="file" size="small"
                    styleClass="p-button-outline" accept="image/*" (onError)="onUploadError($event)"
                    (onUpload)="onFileUploadEvent($event)" chooseIcon="pi pi-upload" url={{url}}>
                </p-fileUpload>
                <div *ngIf="keyWordsResponse" class="overview-chart">
                    <h5>{{fileName}}</h5>
                    <p-chart #imageKeywords type="bar" [data]="imageKeywordsChart" [responsive]="true"
                        height="450px"></p-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 xl:col-4">
        <div class="card">
            <div>
                <h5>Analyze Text</h5>
            </div>
            <div class="mt-2 mb-2">
                <span>Drag and drop a text document to analyze the content.</span>
            </div>
            <div>
                <p-fileUpload #fileuploaderAIText uploadLabel="Analyze" name="file" size="small"
                    styleClass="p-button-outline" accept="text/*" (onError)="onUploadErrorAnalyzeText($event)"
                    (onUpload)="onFileUploadEventAnalyzeText($event)" chooseIcon="pi pi-upload" url={{textAnalysisUrl}}>
                </p-fileUpload>
                <div *ngIf="textKeyWords.length > 0" height="450px" class="card flex align-items-center gap-2 flex-wrap overflow: auto;">
                    <h5>{{fileName}}</h5>
                    <div *ngFor="let word of textKeyWords">
                        <p-chip label="{{word}}"></p-chip>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 xl:col-4">
        <div class="card">
            <div>
                <h5>Summarize Text</h5>
            </div>
            <div class="mt-2 mb-2">
                <span>Drag and drop a text file to summarize the content.</span>
            </div>
            <div>
                <p-fileUpload #fileuploaderAISummary uploadLabel="Analyze" name="file" size="small"
                    styleClass="p-button-outline" accept="text/*" (onError)="onUploadErrorSummary($event)"
                    (onUpload)="onFileUploadEventSummary($event)" chooseIcon="pi pi-upload" url={{textSummaryUrl}}>
                </p-fileUpload>
                <div *ngIf="summary" height="450px" class="card flex align-items-center gap-2 flex-wrap overflow: auto;">
                    <h5>{{fileName}}</h5>
                    <span>{{summary}}</span>                 
                </div>
            </div>
        </div>
    </div>
</div>