<div class="card">
    <div>
        <h5>Analyze Image</h5>
    </div>
    <div class="mt-2 mb-2">
        <span>Drag and drop an image file to analyze the image content.</span>
    </div>
    <div>
        <p-fileUpload #fileuploaderAI uploadLabel="Analyze" name="file" size="small"
            styleClass="p-button-outline" accept="image/*" (onError)="onUploadError($event)"
            (onUpload)="onFileUploadEvent($event)" chooseIcon="pi pi-upload" url={{url}}>
        </p-fileUpload>
        <div *ngIf="keyWordsResponse" class="overview-chart">
            <h5>{{fileName}}</h5>
            <p-chart #imageKeywords type="bar" [data]="imageKeywordsChart" [responsive]="true"
                height="450px"></p-chart>
        </div>
    </div>
</div>
